<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修真破苍穹</title>
    <style>
        .back{
            margin: auto;
            padding: 0;
            width: 1280px ;
            background-image: url(./static/index/imgs/1.jpg);
            height: 3740px;
            /* background-position: 40% center; */
            background-size: 100%;
            background-repeat:no-repeat;


        }
    </style>
</head>
<body >
    <div class="back">

        <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=rZ6dlZifn5mUmO3c3IPOwsA"><img src="./static/index/imgs/2.png" style="margin-left: 13%;" alt=""></a>
    </div>

</body>
</html>